@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<head>
    @*...*@
    @* Bootstrap 5 *@
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css" rel="stylesheet"
          asp-append-version="true" />
    @* Bootstrap 4 *@
    <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs4.min.css" rel="stylesheet"
          asp-append-version="true" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="<ProjectName>.styles.css" rel="stylesheet" />
    @*...*@
</head>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
